{% load static %}
<!-- Header -->
<header id="header">
    <div class="intro" style="background: url({{company_information.cover.url}}) no-repeat center bottom;">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <h1><strong>{{company_information.name}}</strong> Design Studio</h1>
              <p>{{company_information.title}}</p>
              <a href="" class="btn btn-custom btn-lg page-scroll">Learn More</a> </div>
          </div>
        </div>
      </div>
    </div>
  </header>